/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

.text-primary {
    color: #FD6E0A;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;

}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;

}

.banner-pp {
    width: 300px;
    height: 350px;
    padding: 0px 0px 0px 270px;
}

.banner-greeting {
    font-size: 45px;
    color: var(--Dark-02, #474747);
    margin: 0px;

}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
}

.banner-description {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

/* .banner-content{
    max-width: 500px;
    justify-content: space-between;
} */
main {
    text-align: center;
    width: 1140px;
    height: 400px;
    background: #FFF8F3;
    margin:20px auto ;
}